<html lang="en">
<%- include('./partials/header.ejs') %>
<body>
<%- include('./partials/nav1_user.ejs') %>

        <div class = "logo">
        <a href="#">404 Page Not Found</a>
        </div>
        </div>
        <div class = "main_container">
        <div class="content">

     <br>
    <h2> 404 Page Not Found <br><br> </h2>
    <br>
<br>
</div>
<br>
<%- include('./partials/nav2.ejs') %>
</body>
</html>