<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name ="viewport" content = "width=device-width, initial-scale=1.0">
    <title>BioProcess TEA </title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://kit.fontawesome.com/bca1a6b04a.js"></script>
    <script>
        $(document).ready(function(){
            $(".hamburger").click(function(){
                $(".wrapper").addClass("active")
            });
            $(".menu_close").click(function(){
                $(".wrapper").removeClass("active")
            });
            UpdateTEA();
            $('#radios').change(function(){
             //alert('Radio Box has been changed!');
               vesselSize =  UpdateVesselSize();
               UpdateTEA();
            });
            $('.price').change(function(){
             //alert('Radio Box has been changed!');
               Input[7] = document.getElementById("sellingPrice1").value;
               document.getElementById("sellingPrice2").innerHTML =Input[7];
               UpdateTEA();
            });


        });
    </script>
</head>

<body>
<nav>
    <div class="wrapper">
        <div class="sidebar">
            <div class="bg_shadow"></div>
            <div class = "sidebar_inner">
                <div class = "menu_close">
                    <i class="far fa-window-close"></i>
                </div>
                <div class="reactor_info">
                        <p class ="reactor_name">BioProcess TEA Calculator</p>
                        <hr>
                </div>
                 <ul class="sidebar_menu">


                     <li>
                            <a href="/profile">
                                <div class="icon"><i class="far fa-user"></i></i></div>
                                <div class="title">Profile</div>
                            </a>
                     </li>


                     <li>
                            <a href="/tutorials_user">
                                <div class="icon"><i class="fas fa-chalkboard-teacher"></i></i></div>
                                <div class="title">Tutorials</div>
                            </a>
                     </li>

                     <li>
                            <a href="/definitions_user">
                                <div class="icon"><i class="fas fa-book-open"></i></div>
                                <div class="title">Definitions</div>
                            </a>
                     </li>
                      <li>
                            <a href="/blog/blogs">
                                <div class="icon"><i class="fab fa-microblog"></i></i></div>
                                <div class="title">Discussion</div>
                            </a>
                     </li>
                     <li>
                          <a href="/calculator/tea_log">
                              <div class="icon"><i class="fas fa-list-ol"></i></div>
                              <div class="title">TEA History</div>
                        </a>
                     </li>
                     <br>
                     <hr>
                     <li>
                        <a href="/calculator/calculator">
                            <div class="icon"><i class="fas fa-calculator"></i></div>
                            <div class="title">Calculator</div>
                      </a>
                      </li>
                      <hr>

                           <li class="nav-item">
                                <a>
                                  <img src="/molecule2.svg" height="40", width="40">
                                  <div class="title">Chemical Inputs</div>
                                </a>
                                <div class="slidecontainer">
                                    <div class ="title"></div>
                                    <div class ="chemicalInput">
                                    <form action="/action_page.php">
                                      <label for="Name" style="color:#2176DA">Name: </label>
                                      <input type="text"  id="ChemicalName"  maxlength="18" size="20" value="1,3 Propanediol">
                                      <br><br>
                                      <label for="C" style="color:#2176DA">C: </label>
                                      <input id="C" type="number" value="3" min="0" max ="40000">
                                      <br><br>
                                      <label for="H" style="color:#2176DA">H: </label>
                                      <input id="H" type="number" value="8" min="0" max ="40000">
                                      <br><br>
                                      <label for="O" style="color:#2176DA">O: </label>
                                      <input id="O" type="number" value="2" min="0" max ="40000">
                                      <br><br>
                                      <label for="N" style="color:#2176DA">N: </label>
                                      <input id="N" type="number" value="0" min="0" max ="40000">
                                      <br><br>
                                    </form>
                                    </div>
                                    </div>
                             </li>


 <!-- Financial Inputs-->
                         <li class="nav-item">
                            <a>
                              <div class="icon"><i class="fas fa-dollar-sign"></i></div>
                              <div class="title">Financial Inputs</div>
                            </a>
                                 <div class="slidecontainer">
                                     <div class ="title"></div>
                                     <input class ="price" id="sellingPrice1" type="number" min="0.10" max="1000" value="2.20" step="0.01" >
                                     <div class ="title"> Target Selling Price: $/kg</div>
                                  </div>

                                  <div class="slidecontainer">
                                     <div class ="title"></div>
                                     <input type="range" min="1" max="100" value="30" step="1" class="slider" id="myRange0">
                                      <div class ="title"> MSP Margin: <span id="demo0"> </span> %</div>
                                  </div>
                                   <div class="slidecontainer">
                                      <input type="range" min="1" max="25" value="20" step="1" class="slider" id="myRange1">
                                      <div class ="title"> Payback Period: <span id="demo1"> </span> Years</div>
                                  </div>

                                   <div class="slidecontainer">
                                      <input type="range" min="0" max="40" value="20" step="1" class="slider" id="myRange2">
                                    <div class ="title">Discount Rate: <span id="demo2"> </span> %</div>
                                  </div>

                                   <div class="slidecontainer">
                                      <input type="range" min="0" max="50" value="21" step="1" class="slider" id="myRange3">
                                       <div class ="title"> Tax Rate: <span id="demo3"> </span> %</div>
                                  </div>
                                   <div class="slidecontainer">
                                      <input type="range" min="0" max="100" value="60" step="1" class="slider" id="myRange4">
                                      <div class ="title"> % Debt Financed: <span id="demo4"> </span> %</div>
                                  </div>
                                   <div class="slidecontainer">
                                      <input type="range" min="0.5" max="20" value="8" step=".5" class="slider" id="myRange5">
                                    <div class ="title">Debt Interest Rate: <span id="demo5"> </span> %</div>
                                  </div>

                                   <div class="slidecontainer">
                                      <input type="range" min="0" max="22" value="15" step="1" class="slider" id="myRange6">
                                       <div class ="title"> Loan Term: <span id="demo6"> </span> Years</div>
                                  </div>
                          </li>

<!-- Plant Level Inputs-->
                         <li class="nav-item">
                            <a>
                              <div class="icon"><i class="fas fa-fw fa-wrench"></i></div>
                              <div class="title">Plant Level Inputs</div>
                            </a>
                                  <div class="slidecontainer">
                                     <div class ="title"></div>
                                     <input type="range" min="1" max="100" value="55" step="1" class="slider" id="myRange7">
                                      <div class ="title"> Capacity: <span id="demo7"> </span> kta</div>
                                  </div>
                                   <div class="slidecontainer">
                                      <input type="range" min="0" max="100" value="90" step="1" class="slider" id="myRange8">
                                    <div class ="title">Annual Uptime: <span id="demo8"> </span> %</div>
                                  </div>

                                   <div class="slidecontainer">
                                      <input type="range" min="0" max="100" value="95" step="1" class="slider" id="myRange9">
                                       <div class ="title"> Batches "On Spec": <span id="demo9"> </span> %</div>
                                  </div>
                                  <div class="slidecontainer">
                                        <div class ="title"></div>
                                        <form id ="radios">
                                        &nbsp&nbsp&nbsp;<input type="radio" color="#2176DA" id="200000L" name="reactorsize" value="200000">
                                        <label class ="radiolabel" for="200000L" >200</label>
                                        <input type="radio" color="#2176DA" id="500000L" name="reactorsize" value="500000">
                                        <label class ="radiolabel" for="500000L" >500</label>
                                        <input type="radio" color="#2176DA" id="1000000L" name="reactorsize" value="1000000" checked="">
                                        <label class ="radiolabel" for="1000000L" active>1,000</label>
                                        <div class ="title"> Main Fermenter Size:  x1000L</div>
                                        </form>
                                  </div>

                          </li>

<!-- Raw Materials -->
                         <li class="nav-item">
                            <a>
                              <div class="icon"><i class="fas fa-cube"></i></div>
                              <div class="title">Raw Materials</div>
                            </a>
                                  <div class="slidecontainer">
                                     <div class ="title"></div>
                                     <input type="range" min=".1" max=".70" value=".18" step=".01" class="slider" id="myRange10">
                                      <div class ="title"> Glucose: $<span id="demo10"> </span>/lb</div>
                                  </div>
                                   <div class="slidecontainer">
                                      <input type="range" min="0" max="0.40" value="0.12" step="0.01" class="slider" id="myRange11">
                                      <div class ="title"> Ammonia: $ <span id="demo11"> </span> /lb</div>
                                  </div>

                                 <div class="slidecontainer">
                                      <input type="range"min="0" max="10" value="3.10" step ="0.1" class="slider" id="myRange12">
                                    <div class ="title">Natural Gas: $ <span id="demo12"> </span> /MMBtu</div>
                                  </div>

                                   <div class="slidecontainer">
                                      <input type="range" min="0" max="0.30" value="0.11" step ="0.01" class="slider" id="myRange13">
                                       <div class ="title"> Electricity: $<span id="demo13"> </span> /KWh</div>
                                  </div>
                                  <div class="slidecontainer">
                                      <input type="range" min="1" max="1200" value="603" step ="1"  class="slider" id="myRange14">
                                       <div class ="title"> CEPCI: <span id="demo14"> </span></div>
                                  </div>
                          </li>
<!-- Fermentation Inputs-->
                         <li class="nav-item">
                            <a>
                              <div class="icon"><i class="fas fa-bacterium"></i></i></div>
                              <div class="title">Fermentation Inputs</div>
                            </a>
                                  <div class="slidecontainer">
                                     <div class ="title"></div>
                                     <input type="range" min="1" max="20" value="3" step="0.5" class="slider" id="myRange15">
                                      <div class ="title"> Ave. Volumteric Rate: <span id="demo15"> </span>g/L-hr</div>
                                  </div>
                                   <div class="slidecontainer">
                                      <input type="range" min="10" max="400" value="300" step="1" class="slider" id="myRange16">
                                      <div class ="title"> Titer: <span id="demo16"> </span> g/L</div>
                                  </div>

                                   <div class="slidecontainer">
                                      <input type="range" min="0" max="98" value="90" step="1" class="slider" id="myRange17">
                                    <div class ="title">Yield: <span id="demo17"> </span> % of Theoretical</div>
                                  </div>

                                   <div class="slidecontainer">
                                      <input type="range" min="0" max="40" value="16" step="1" class="slider" id="myRange18">
                                       <div class ="title"> Turnaround Time: <span id="demo18"> </span> hours</div>
                                  </div>

                                 <div class="slidecontainer">
                                      <input type="range" min="0" max="10" value="0.4" step="0.1" class="slider" id="myRange19">
                                    <div class ="title">Media Cost: $<span id="demo19"> </span>/kg CDW</div>
                                  </div>

                                   <div class="slidecontainer">
                                      <input type="range" min="25" max="40" value="37" step="1" class="slider" id="myRange20">
                                       <div class ="title"> Temperature: <span id="demo20"> </span> &degCelsius</div>
                                  </div>
                          </li>


<!-- DSP Inputs-->
                         <li class="nav-item">
                            <a>
                              <div class="icon"><i class="fas fa-flask"></i></div>
                              <div class="title">DSP Assumptions</div>
                            </a>

                                   <div class="slidecontainer">
                                   <div class ="title"></div>
                                      <input type="range" min="1" max="100" value="95" step="1" class="slider" id="myRange21">
                                      <div class ="title"> Overall DSP Yield: <span id="demo21"> </span> %</div>
                                  </div>

                                  <div class="slidecontainer">
                                     <input type="range" min="1" max="99" value="25" step="1" class="slider" id="myRange22">
                                      <div class ="title"> % of Total OPEX: <span id="demo22"> </span>%</div>
                                  </div>
                                   <div class="slidecontainer">
                                      <input type="range" min="1" max="100" value="55" step="1" class="slider" id="myRange23">
                                      <div class ="title"> % of Total CAPEX: <span id="demo23"> </span> %</div>
                                  </div>
                          </li>

                         <li class="nav-item">
                             <div class="logout_btn">
                                <a href="/auth/logout" class="btn">Logout</a>
                             </div>
                        </li>
                 </ul>

            </div>
         </div>
    </div>
        <div class="top_navbar">
            <div class="hamburger">
                <i class="fas fa-bars" aria-hidden="true"></i>
            </div>
             <div class="user_tn">
                 <a href="/profile">
                       <div class="icon"><img src="<%= user.thumbnail %>" width="40" height="40"></div>
                  </a>
            </div>

        <div class = "logo">
        <a href="#">Calculator</a>
        </div>
        </div>
        <div class = "main_container">
        <div class="content">

    <header><h2>&nbsp <span id="ChemicalName1"></span> TEA Details  <span id="TEST"></span><br></h2>
    <div class ="break"><br></div>

        <div class ="item">
                <h3>Financial Results</h3>
                    <p><br></p>
                <div class = "output">
                Target Selling Price: $<span id="sellingPrice2"></span>&nbsp/kg,
                &nbsp&nbsp&nbsp&nbsp OPEX: $<span id="OPEX"></span>&nbsp/kg,
                &nbsp&nbsp&nbsp&nbsp CAPEX: $<span id="CAPEX"></span>&nbsp/kg,
                &nbsp&nbsp&nbsp&nbsp TCI: $<span id="TCI"></span>&nbspMillion</div>
                <div class = "output">
                NPV: $<span id="NPV"></span>&nbspMillion,
                &nbsp&nbsp&nbsp&nbsp ROI: <span id="ROI"></span>&nbsp%,
                &nbsp&nbsp&nbsp&nbsp IRR: <span id="IRR"></span>&nbsp%</div>
                <div class = "output">
                $<span id="MSP"></span>/kg Minimum Selling Price to achieve a <span id="Margin"></span>&nbsp% Margin upon initial ramp up</div>

   </div>
        <div class ="break"><br></div>


        <div class ="item">
                <h3>Cumulative Discounted Cash Flow</h3>
                    <p><br></p>
                    <div class = "output">
                    <canvas id="myProFormaChart"></canvas>
                    </div>
        </div>
        <div class ="break"><br></div>

        <div class ="item">
                <h3>Chemistry</h3>
                    <p><br></p>
                <div class = "output">
                Product : <span id="ChemicalName2"></span>,
                &nbsp&nbsp&nbsp&nbsp Mol. Weight: <span id="MW"></span>&nbsp(g/mole),
                &nbsp&nbsp&nbsp&nbsp Theor. Yield: <span id="theorYield"></span>&nbsp(g Product/g Glucose)</div>
        </div>
        <div class ="break"><br></div>


        <div class ="item">
                <h3>Conversion: &nbsp&nbsp&nbsp <span id="A"></span> C<sub>6</sub>H<sub>12</sub>O<sub>6</sub> + <span id="B"></span> NH<sub>3</sub> + <span id="D"></span> O<sub>2</sub> &rarr;  <span id="E"></span> C<sub><span id="Cnumber"></span></sub>H<sub><span id="Hnumber"></span></sub>O<sub><span id="Onumber"></span></sub>N<sub><span id="Nnumber"></span></sub> + <span id="F"></span> H<sub>2</sub>O + <span id="G"></span> CO<sub>2</sub></h3><br>
                <p>* If NaN appears, the product as entered cannot be balanced. </p>
        </div>
        <div class ="break"><br></div>

        <div class ="item">
                <h3>Process Results</h3>
                    <p><br></p>
                <div class = "output">
                Optimal Annual Capacity: <span id="plantCapacity"></span>&nbsp(kta)
                </div>
                <div class = "output">
                Rate: <span id="Rate"></span>&nbsp(g/L-hr),
                &nbsp&nbsp&nbsp&nbsp Titer: <span id="Titer"></span>&nbsp(g/L),
                &nbsp&nbsp&nbsp&nbsp Fermentation Yield: <span id="fermYield"></span>&nbsp(g Product/g Glucose)</div>
                <div class = "output">
                Final Biomass Level: <span id="finalBiomass"></span>&nbsp(gCDW/L),
                &nbsp&nbsp&nbsp&nbsp Specific Rate: <span id="specificRate"></span>&nbsp(g/gCDW-hr),
                &nbsp&nbsp&nbsp&nbsp Fermentation Time: <span id="fermTime"></span>&nbsp(hrs)</div>
                <div class = "output">
                DSP Yield: <span id="dspYield"></span>&nbsp (g Purified Product /g Produced via Fermentation)</div>
                <div class = "output">
                Overall Yield: <span id="overallYield"></span>&nbsp (g Purified Product /g Glucose)</div>
        </div>
        <div class ="break"><br></div>

        <div class ="item">
                <h3>Fermentation Time Course</h3>
                    <p><br></p>
                <div class = "output">
                <canvas id="myFermChart"></canvas>
                </div>
        </div>
        <div class ="break"><br></div>


        <div class ="item2">
                <h3>OPEX Breakdown</h3>
                <div class=output">
                <canvas id="myOpexPieChart"></canvas>
                </div>
        </div>

        <div class ="item2">
                <h3>CAPEX Breakdown (TIC)</h3>
                <div class="output" >
                <canvas id="myCapexPieChart"></canvas>
                </div>
        </div>
        <div class ="break"><br></div>

        <div class ="break"><br></div>


    </div>

<br>
</div>
<br>

            <form method="POST" action="/calculator/tea_log">
            <input type="hidden" id="uid" value="<%= user._id %>" name="uid" required>
            <input type="hidden" id="productName"  name="productName"  required>
            <input type="hidden" id="productFormula" name="productFormula" required>
            <input type="hidden" id="productMW" name="productMW"  required>
            <input type="hidden" id="productTheorYield" name="productTheorYield"  required>
            <input type="hidden" id="productYieldCoefficientNH3" name="productYieldCoefficientNH3"  required>
            <input type="hidden" id="productYieldCoefficientO2" name="productYieldCoefficientO2"  required>
            <input type="hidden" id="productVesselSize" name="productVesselSize"  required>
            <input type="hidden" id="productSellingPrice" name="productSellingPrice" required>
            <input type="hidden" id="productMargin" name="productMargin"  required>
            <input type="hidden" id="productPaybackPeriod" name="productPaybackPeriod"  required>
            <input type="hidden" id="productDiscountRate" name="productDiscountRate"  required>
            <input type="hidden" id="productTaxRate" name="productTaxRate" required>
            <input type="hidden" id="productPercentDebtFinanced" name="productPercentDebtFinanced"  required>
            <input type="hidden" id="productDebtInterestRate" name="productDebtInterestRate"  required>
            <input type="hidden" id="productLoanTerm" name="productLoanTerm"  required>
            <input type="hidden" id="productPlantCapacity" name="productPlantCapacity"  required>
            <input type="hidden" id="productAnnualUptime" name="productAnnualUptime"  required>
            <input type="hidden" id="productBatchOnSpec" name="productBatchOnSpec"  required>
            <input type="hidden" id="productGlucoseCost" name="productGlucoseCost" required>
            <input type="hidden" id="productAmmoniaCost" name="productAmmoniaCost" required>
            <input type="hidden" id="productNaturalGasCost" name="productNaturalGasCost"  required>
            <input type="hidden" id="productElectricityCost" name="productElectricityCost"  required>
            <input type="hidden" id="productCEPCI" name="productCEPCI" required>
            <input type="hidden" id="productAveVolumtericRate" name="productAveVolumtericRate"  required>
            <input type="hidden" id="productTiter" name="productTiter" required>
            <input type="hidden" id="productYield" name="productYield" required>
            <input type="hidden" id="productTurnaroundTime" name="productTurnaroundTime"  required>
            <input type="hidden" id="productMediaCost" name="productMediaCost" required>
            <input type="hidden" id="productTemperature" name="productTemperature" required>
            <input type="hidden" id="productOverallDSPYield" name="productOverallDSPYield"  required>
            <input type="hidden" id="productDspPercentofOpex" name="productDspPercentofOpex"  required>
            <input type="hidden" id="productDspPercentofCapex" name="productDspPercentofCapex"  required>
            <input type="hidden" id="productOPEX" name="productOPEX" required>
            <input type="hidden" id="productCAPEX" name="productCAPEX" required>
            <input type="hidden" id="productTCI" name="productTCI" required>
            <input type="hidden" id="productNPV" name="productNPV"  required>
            <input type="hidden" id="productROI" name="productROI"  required>
            <input type="hidden" id="productIRR" name="productIRR" required>
            <input type="hidden" id="productMSP" name="productMSP" required>
            <input type="hidden" id="productOptimalPlantCapacity" name="productOptimalPlantCapacity"  required>
            <input type="hidden" id="productFermentationYield" name="productFermentationYield"  required>
            <input type="hidden" id="productFinalBiomass" name="productFinalBiomass"  required>
            <input type="hidden" id="productSpRate" name="productSpRate"  required>
            <input type="hidden" id="productFermTime" name="productFermTime"  required>
            <input type="hidden" id="productOverallYield" name="productOverallYield"  required>
            <input type="hidden" id="productFermTimeCourseTime" name="productFermTimeCourseTime"  required>
            <input type="hidden" id="productFermTimeCourseBiomass" name="productFermTimeCourseBiomass"  required>
            <input type="hidden" id="productFermTimeCourseProductTiter" name="productFermTimeCourseProductTiter"  required>
            <input type="hidden" id="productProFormaTime" name="productProFormaTime"  required>
            <input type="hidden" id="productProFormaRevenue" name="productProFormaRevenue"  required>
            <input type="hidden" id="productProFormaCOGS" name="productProFormaCOGS"  required>
            <input type="hidden" id="productProFormaDepreciation" name="productProFormaDepreciation"  required>
            <input type="hidden" id="productProFormaEBITDA" name="productProFormaEBITDA"  required>
            <input type="hidden" id="productProFormaEBIT" name="productProFormaEBIT"  required>
            <input type="hidden" id="productProFormaPrincipal" name="productProFormaPrincipal"  required>
            <input type="hidden" id="productProFormaInterest" name="productProFormaInterest"  required>
            <input type="hidden" id="productProFormaTaxes" name="productProFormaTaxes"  required>
            <input type="hidden" id="productProFormaNetIncome" name="productProFormaNetIncome"  required>
            <input type="hidden" id="productProFormaNetCashFlow" name="productProFormaNetCashFlow"  required>
            <input type="hidden" id="productProFormaCumCashFlow" name="productProFormaCumCashFlow"  required>
            <button class="submit" id="saveTEA">Save TEA</button>
            </form>


<%- include('./partials/nav2.ejs') %>

<!--Scripts-->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.js"></script>
  <script src="/js/chemical.js"></script>
  <script src="/js/calcMW.js"></script>
  <script src="/js/calcIRR.js"></script>
  <script src="/js/calcH2CO2ratio.js"></script>
  <script src="/js/calcFormula.js"></script>
  <script src="/js/chemicalEquation.js"></script>
  <script src="/js/balanceEquation.js"></script>
  <script src="/js/UpdateChemicalEquation.js"></script>
  <script src="/js/UpdateChemical.js"></script>
  <script src="/js/calculateLoanPayments.js"></script>
  <script src="/js/FermChart.js"></script>
  <script src="/js/BOO_DCF.js"></script>
  <script src="/js/ProFormaChart.js"></script>
  <script src="/js/OpexPieChart.js"></script>
  <script src="/js/CapexPieChart.js"></script>
   <script src="/js/UpdateTEA.js"></script>
  <!-- Dynamic Scripts for Process Inputs-->


<script>
// Update TEA in response to sliders.

slider = [];
pageInput=[];
Input = [];
pageInput =[];

  for(let i=0; i< 24; i++){
    slider[i] = document.getElementById("myRange"+i);
    pageInput[i] = document.getElementById("demo"+i);
    pageInput[i].innerHTML = slider[i].value;
    slider[i].oninput = function() {
             pageInput[i].innerHTML = this.value;
             UpdateTEA();
         }
   }

</script>
<script>
function UpdateVesselSize(){
         var ele = document.getElementsByName('reactorsize');

         for(i = 0; i < ele.length; i++) {
             if(ele[i].checked){
             vesselSize = parseFloat(ele[i].value);
             }
         }
         return vesselSize;
       }
</script>

 <script>
    const saveTEA = async function(){
        alert('Saving');
    };
    //main app
    (function(){
    //button click
       const saveTEAButton = document.getElementById('saveTEA');
       saveTEAButton.addEventListener('click', saveTEA);
       })();

 </script>

</body>
</html>