<html lang="en">
<%- include('./partials/header.ejs') %>
<body>
<%- include('./partials/nav1_user.ejs') %>

        <div class = "logo">
        <a href="#">Definitions</a>
        </div>
        </div>
        <div class = "main_container">
        <div class="content">


    <header><h2>&nbsp Key Definitions <br></h2>

    <div class ="break"><br></div>

        <div class ="item">
                <h3>Financial Inputs & Outputs:  </h3>

                    <p><br></p>
                    <li>OPEX:  OPEX or operating expenses, are ongoing costs for producing a given chemical
                    and include both variable costs such as raw materials or utilities, and fixed costs such as labor.
                    This calculator return the operating costs per kilogram of final product produced. Complete breakdowns
                    of OPEX can be downloaded after saving a given Analysis. </li>
                    <p><br></p>
                    <li>CAPEX: CAPEX or capital expenses, are initial (as well as ongoing) expenses required for plant/facility
                    engineering, construction and commissioning. Initial CAPEX for construction is given in $/kg or annual production
                    capacity as well as an estimated initial total capital investment (TCI). A breakdown
                    of capital costs can be downloaded after saving a given Analysis. </li>
                    <p><br></p>
                    <li>TCI - Total Capital Investment: The TCI is the total initial cost to construct the facility including both
                    the fixed capital investment and working capital. </li>
                    <p><br></p>
                    <li>MSP - Minimum Selling Price: The minimum selling price, generated using this calculator is the selling
                     price required to achieve the target margin upon the completion of plant ramp up (in the first year the
                     facility is producing at nameplate production capacity). The MSP calculation includes the target margin,
                     operating expenses, ongoing capital expenditures as well as loan payments (both principal and interest). </li>
                    <p><br></p>
                    <li><a href="https://www.investopedia.com/ask/answers/031815/what-formula-calculating-profit-margins.asp" target="popup"> Margin:</a>
                    The margin input by the user is used to calculate the MSP. </li>
                    <p><br></p>
                    <li><a href="https://www.investopedia.com/terms/d/dcf.asp" target="popup"> DCF - Discounted Cash Flow:</a>
                     In finance, discounted cash flow analysis is a method of valuing a  project using the concepts of the time
                     value of money. Discounted cash flow analysis is widely used in investment and patent valuation.
                     Specifically discounted cash flow is a project valuation method used to estimate the value of an investment
                     based on its projected future cash flows. DCF analysis attempts to figure out the value of an investment
                     today, based on projections of how much money it will generate in the future.</li>
                    <p><br></p>
                    <li>Selling Price: The user input selling price, is the price used to calculate the financial returns, and should
                    reflect the market price (or lower) for a given chemical. If the production costs (based on additional inputs) are greater than the selling price,
                    the calculator will return negative financial results. The selling price should not be confused with the
                     minimum selling price (MSP) which is the price for which the product would need to be sold to achieve the input margin. An MSP larger
                     than the target selling price indicates a commercially infeasible bioprocess. </li>
                    <p><br></p>
                    <li><a href="https://www.investopedia.com/terms/d/dcf.asp" target="popup"> Discount Rate:</a>
                    In this case, the discount rate refers to the interest rate used in discounted
                    cash flow (DCF) analysis to determine the net present value of future projected cash flows. </li>
                    <p><br></p>
                    <li><a href ="https://www.investopedia.com/terms/n/npv.asp#:~:text=Net%20present%20value%20(NPV)%20is,a%20projected%20investment%20or%20project." target="popup">NPV - Net Present Value: </a>
                    Net present value (NPV) is the difference between the present value of projected
                    cash inflows and the present value of projected cash outflows over a period of time. NPV is used to analyze
                    the profitability of a projected project. NPV depends on the discount rate and accounts for the time value of money. </li>
                    <p><br></p>
                    <li><a href ="https://www.investopedia.com/terms/i/irr.asp#:~:text=IRR%20is%20the%20annual%20rate,of%20annual%20return%20over%20time" target="popup">IRR - Internal Rate of Return:</a>
                    IRR is the annual rate of growth an investment is expected to generate.
                    IRR is calculated using the same concept as NPV, except it sets the NPV equal to zero. IRR is used to
                    compare potential rates of annual return for several projects over time. </li>
                    <p><br></p>
                    <li>Payback Period: In this calculator, the payback period refers to the amount of time used to perform the DCF analysis and calculate
                    the financial returns including NPV, IRR and ROI . Simply put, the payback period is the length of time
                    the project is given to make a return. By default for large capital projects the default payback period is 20 years. </li>
                    <p><br></p>
                    <li><a href="https://www.investopedia.com/terms/r/returnoninvestment.asp#:~:text=Return%20on%20Investment%20(ROI)%20is,relative%20to%20the%20investment's%20cost" target="popup"> ROI - Return on Investment:</a>
                    ROI a performance measure used to evaluate the efficiency of an investment. To calculate ROI, the benefit (or total return)
                    of an investment is divided by the cost of the investment. The result is expressed as a percentage or a ratio.
                    <p><br></p>
                    <li> Percent Debt Financed: This input allows the user to define how much of the plant is financed (paid for with loans). The default value is 60%. </li>
                    <p><br></p>
                    <li> Loan Term: The term of the loan used to pay for plant construction</li>
                    <p><br></p>
                    <li> Loan Interest Rate: The interest rate of the loan used to pay for plant construction </li>
                    <p><br></p>
                    <li>Tax Rate: The US corporate tax rate. The United States imposes a tax on the profits of US resident corporations at a rate of 21 percent (reduced from 35 percent by the 2017 Tax Cuts and Jobs Act).</li>
                    <p><br></p>
                    <li>ProForma: A proforma (pro forma in this context means projected)  business plan includes financial statements showing projected sales, operating expenses, capital costs interest and taxes.</li>
                    <p><br></p>
                    <li><a href="https://investinganswers.com/dictionary/n/net-cash-flow#:~:text=Net%20cash%20flow%20refers%20to,on%20its%20cash%20flow%20statement." target="popup"> Net Cash Flows:</a>
                    Net cash flow refers to the difference between a company's cash inflows and outflows in a given period.
                    </li>
                    <p><br></p>
                    <li>Cumulative Cash Flow: For a given investment the cumulative cash flow simply equals total sum of the Net Cash flow over a larger period of time, usually through the entire payback period.</li>
                     <p><br></p>
                <div class = "output"></div>
        </div>
        <div class ="break"><br></div>

        <div class ="item">
                <h3>Plant/Facility Terms:  </h3>
                    <p><br></p>
                    <li>Capacity (kta - kilotonnes per annum): In this calculator, the production capacity for a given plant estimate
                    is given in kta or kilotonnes per annum. 1 kta is equivalent to 1,000,000 kg of product produced per year. While
                    the user can input a target annual production capacity the calculator will estimate costs based on a discrete
                    number of tanks giving an optimal capacity </li>
                    <p><br></p>
                    <li>Annual Uptime: There are 365 days (8760 hours) in  a year and some of this time must be spent performing routine plant
                    maintenance and repairs. The annual uptime is the fraction of the year where the plant is up and running. The default for
                    the calculator is 90% or 7884 hours per year. </li>
                    <p><br></p>
                    <li>Batches On Spec: While in an ideal scenario, 100% of the product produced in a given facility is sold, in reality
                    for most bioprocesses, issues arise with a particular batch of product wherein it does not meet the customer quality specifications
                    (purity for example). The calculator assumes these "off-spec" batches cannot be sold and require disposal. The Batches on Spec
                    (specification) is the percentage of the batches produced that are sold. The default for this calculator is 95%. </li>
                    <p><br></p>
                    <li>Main Fermenter Size: This calculator assumes aerobic fermentation and gives the user the choice of three large scale aerobic vessels with a
                    total size of  250,000 Liters, 500,000 Liters and 1,000,000 Liters. </li>
                    <p><br></p>
                    <li>Overall Yield: The overall process yield is the fermentation yield multiplied by the overall yield achieved in downstream purification. </li>
                    <p><br></p>
                    <li><a href="https://www.chemengonline.com/pci-home" target="popup"> CEPCI: THE CHEMICAL ENGINEERING PLANT COST INDEX: </a> The CEPCI is a index used
                    in estimating costs in (bio)chemical process engineering. This calculator uses the CEPCI ( which in 2020 is ~ 603) to estimate costs for air,  water and
                    other utilities as described by <a href= "https://terpconnect.umd.edu/~nsw/chbe446/HowToEstimateUtilityCosts-UlrichVasudevan2006.pdf" target="popup"> Ulrich and Vasudevan</a>
                    <p><br></p>
                    <li>TIC - Total Installed Costs: An equipment factored capital cost estimate can be produced by taking the estimated cost of individual types of process equipment,
                    and multiplying it by an "installation factor" to arrive at the total installed costs (TIC). In practice, this has proven to be quite a useful method since a
                    substantial part of total project costs are made up of equipment. The installation factor, includes subcontracted costs,
                    associated direct labor costs and materials needed for installation of equipment. The TIC is equal to the equipment costs multiplied by the installation factor. </li>
                    <p><br></p>

                <div class = "output"></div>
        </div>
        <div class ="break"><br></div>

        <div class ="item">
                <h3>Raw Materials:  </h3>
                    <p><br></p>
                    <li>Glucose Costs: Glucose is the carbon source used in this calculator, and assumed to be DE95 dextrose
                    (corn syrup) at a concentration of ~ 650 grams of glucose per liter. The default pricing for this feedstock as of 2020,
                     is $0.18/lb. While many "sugar" prices available online may be anywhere from $0.25-$0.50/lb. In our experience $0.18/lb
                      represents a reasonable starting cost from several suppliers of corn syrup. Costs as low as $0.14/lb may be achievable with longer
                       term contracts and "over the fence" pricing. "Over the fence" pricing could be available if the new plant is colocated or (next to)
                        an existing sugar mill or other sugar production site. </li>
                     <p><br></p>
                    <li>Ammonia Costs: Ammonia is used to supply nitrogen for cell growth and or product biosynthesis
                     (in the vase where the product) contains nitrogen. Additionally, ammonia is used as the base titrant
                     during the fermentations. Default ammonia pricing is $0.12/lb. </li>
                    <p><br></p>
                    <li>Natural Gas: Natural as is used to generate steam and hot water for several steps in the bioprocess including
                     sterilization and the assumed biomass heat kill decontamination step. Default natural gas pricing is $3.11/MMBtu. </li>
                    <p><br></p>
                    <li>Electricity Costs: Electricity is used to run much of the process including agitators and mixers, air blowers
                    transfer pumps and the centrifuges used for primary cell removal.  </li>
                    <p><br></p>
                <div class = "output"></div>
        </div>
        <div class ="break"><br></div>

        <div class ="item">
                <h3>Chemical Inputs & Outputs  </h3>
                    <p><br></p>
                    <li>Theoretical Yield: The theoretical yield it the maximal yield of a given chemical product from glucose in grams/gram.
                     This calculation is based on the potential theoretical chemical conversion and does not assume a particular
                     biosynthetic pathway or account for thermodynamics. Theoretical yields using a particular biochemical pathway
                     may have a theoretical pathway yield lower than the theoretical chemical yield. </li>
                     <p><br></p>
                    <li>Yield Coefficients: Yield coefficients are calculated based upon the stoichiometry, and include those for glucose
                    , oxygen and ammonia. For example: grams of product / gram of ammonia. </li>
                    <p><br></p>
                <div class = "output"></div>
        </div>
        <div class ="break"><br></div>


        <div class ="item">
                <h3>Fermentation Inputs & Outputs  </h3>

                    <p><br></p>
                    <li>Rate: The rate is the average volumetric production rate in the main fermentations.
                    The input units are grams of product per liter per hour (g/l-hr). </li>
                     <p><br></p>
                    <li>Titer: Titer the final concentration to the product at the end of the fermentation in grams per liter (g/L)</li>
                    <p><br></p>
                    <li>Fermentation Yield: The fermentation yield is the overall yield of product from glucose as a raw material.
                     The calculate take user input which, is a target percentage of the theoretical yield. This is capped at 98% of the
                     theoretical yield of the product from glucose. In any fermentation some number of cells are required to produce the product
                     and these cells require glucose (as well as other nutrients) for replication and metabolism. </li>
                    <p><br></p>
                    <li>gCDW/L: grams of cell dry weight per liter of fermentation or cell culture broth. The calculator will estimate
                     final biomass levels in the fermentation. </li>
                    <p><br></p>
                    <li>Specific Rate: The specific rate is the average rate of production of product per amount of biomass at the end of
                     the fermentation and is given in units of grams of product per gCDW per hour or g/gCDW-hr. This is a metric of how good
                     the cell line or strain is. The higher the specific rate the more the volumetric rate for a given biomass level and the higher
                     the yield. Yield are increased because less biomass (which requires sugar) is needed to produce the same amount of product. </li>
                    <p><br></p>
                    <li>Media Costs: This calculator bases media costs on the final biomass levels that are estimated. As a result
                    the use inputs the cost of media components per kg or biomass (kgCDW). The default value of ~$0.40/kg assumes a minimal
                     mineral salts media, based on the FGM10 and FGM25 minimal media as reported by <a href="https://onlinelibrary.wiley.com/doi/abs/10.1002/bit.27440" target="popup"> Menacho-Melgar et al.</a> </li>
                    <p><br></p>
                    <li>Turnaround Time: The turn around time is the time required to clean and ready a bioreactor for another batch, once
                      the preceding batch is completed. This calculator defaults to a 16 hour turnaround time. This time includes the time
                      to harvest the broth, clean the tank and lines, which is assumed to be CIP (clean in place) in this model, and refill with fresh
                      media prior to the next inoculation.</li>
                      <p><br></p>
                    <li>Oxygen Transfer Rate (OTR): The OTR ( given in mmoles of O2 per liter per hour) required in aerobic fermentations is the oxygen delivery rate needed to
                    meet the demands of cellular respiration and product biosynthesis. Specifically the maximal OTR must match or exceed the OUR (oxygen uptake rate) of the culture.
                    The maximal OTR as well as average OTR are calculated based on the balanced stoichiometry, as well as assumptions
                    of rate titer and yield. The calculations are used to estimate the costs of mass transfer. Fore more details on how these estimates are made please visit this page.
                    While this calculator will estimate the maximal needed OTR for a given process, it should be noted that values that exceed 250 mmol/L-hr may not be achievable in practice
                    in large scale industrial fermentations.
                    </li>
                    <p><br></p>
                    <li>Mass Transfer Coefficient (Kla): The mass transfer coefficient is a function of the specific bioreactor and is a measure of how
                    well a given bioreactor can transfer oxygen. The OTR is equal to the Kla multiplied by the oxygen concentration gradient in the culture.
                    The estimated Kla can be used to ensure that the equipment can meet the target requirements.
                    </li>
                    <p><br></p>
                    <li>Cooling Demand : In cell culture particularly aerobic cultures, heat generation can be significant and bioreactors must also be
                     able to cool the culture fast enough to maintain target temperatures. The cooling demand also dictates the requirements of large scale bioreactors.
                     Historically, the rate of heat generation in a given aerobic culture is well correlated to the oxygen consumption rate. This correlation (0.460kJ/mmole O2)
                     is used in this calculator. For more details use refer to <a href="https://www.sciencedirect.com/book/9780122208515/bioprocess-engineering-principles" target="popup"> Bioprocess Engineering Principles by Doran </a>.
                    </li>


                    <p><br></p>

                <div class = "output"></div>
        </div>
        <div class ="break"><br></div>

        <div class ="item">
                <h3>Downstream Purification Terms:  </h3>
                    <p><br></p>
                     <li>Primary Cell Removal: Separation of the cells in the whole fermentation broth, to produce a "clarified
                       fermentation broth" without cells. This calculator assumes centrifugation for initial primary cell removal and
                       estimates the related costs (operating and capital costs). </li>
                     <p><br></p>
                    <li>DSP- Downstream Purification, including separation and purification of the target product from clarified fermentation broth. </li>
                     <p><br></p>
                    <li>DSR- Downstream Recovery, another term often used for DSP. </li>
                    <p><br></p>
                <div class = "output"></div>
        </div>
        <div class ="break"><br></div>

        <div class ="item">
                <h3>Capital Terminology:  </h3>
                    <p><br></p>
                     <li>Equipment Costs: The equipment costs, as the name suggests, are the costs to purchase key process equipment.
                     Equipment costs are estimated from quotes and scaling factors. Scaling factors adjust cost estimates for the size
                      of the equipment needed compared to that quoted. In some cases estimate are based on personal prior experiences.
                      For details on specific sources and scaling factors, refer to the Tutorial on Capital Cost Estimation. </li>
                     <p><br></p>
                    <li>Total Installed Costs (TIC): Total Installed Costs for a piece of equipment includes an installation factor, which
                     accounts for the estimated costs to install and commission a piece of equipment. TIC = Equipment Cost X Installation Factor.
                     For details on specific installation factors refer to the Tutorial on Capital Cost Estimation.  </li>
                     <p><br></p>
                    <li>Direct Costs (DC) : The total of direct costs include equipment and installation (TIC) additional piping
                    and the installation of process control systems, as well as costs for site development (clearing, concrete, etc.),
                     and the construction of warehouses and administrative buildings. The estimates include the materials and labor associated with plant construction.   </li>
                    <p><br></p>
                    <li>Indirect Costs : The total of indirect costs include field expenses, project contingency, start up costs (licenses and fees), additional
                       proratable expenses and "Home Office" charges which include engineering and project management. </li>
                    <p><br></p>
                    <li>Fixed Capital Investment (FCI) : The FCI is the sum of the Direct and Indirect Costs.  </li>
                    <p><br></p>
                    <li>Working Capital (WC) : The WC is estimated at 5% of the FCI.   </li>
                    <p><br></p>
                    <li>Total Capital Investments (TCI) : The TCI, which is sum of the FCI (which is the sum of the direct and
                     indirect costs) and the WC, is the estimated total cost of new plant construction. </li>
                    <p><br></p>
                <div class = "output"></div>
        </div>
        <div class ="break"><br></div>


<br>
</div>
<br>
<%- include('./partials/nav2.ejs') %>
</body>
</html>