<html lang="en">
<%- include('./partials/header.ejs') %>
<body>
<%- include('./partials/nav1_user.ejs') %>

        <div class = "logo">
        <a href="#">Definitions</a>
        </div>
        </div>
        <div class = "main_container">
        <div class="content">


    <header><h2>&nbsp Key Definitions <br></h2>

    <div class ="break"><br></div>

        <div class ="item">
                <h3>Financial Terms:  </h3>

                    <p><br></p>
                    <li>OPEX</li>
                     <p><br></p>
                    <li>CAPEX</li>
                    <p><br></p>
                    <li>MSP - Minimum Selling Price:</li>
                    <p><br></p>
                    <li>Discount Rate:</li>
                    <p><br></p>
                    <li>NPV - Minimum Selling Price:</li>
                    <p><br></p>
                    <li>IRR - Internal Rate of Return:</li>
                    <p><br></p>
                    <li>ROI - Return on Investment:</li>
                    <p><br></p>
                    <li>TCI - Total Capital Investment: </li>
                    <p><br></p>
                    <li>TIC - Total Installed Costs:</li>
                    <p><br></p>
                    <li>Payback Period:</li>
                    <p><br></p>
                    <li>DCF - Discounted Cash Flow:</li>
                    <p><br></p>
                    <li>ProForma:</li>

                <div class = "output"></div>
        </div>
        <div class ="break"><br></div>

        <div class ="item">
                <h3>Plant/Facility Terms:  </h3>

                    <p><br></p>
                    <li>Capacity</li>
                     <p><br></p>
                    <li>kta - kilotonnes per annum: </li>
                    <p><br></p>
                    <li>Batchs On Spec:</li>
                    <p><br></p>
                    <li>Annual Uptime:</li>
                    <p><br></p>
                    <li>CEPCI:</li>
                    <p><br></p>

                <div class = "output"></div>
        </div>
        <div class ="break"><br></div>


        <div class ="item">
                <h3>Fermentation Terms:  </h3>

                    <p><br></p>
                    <li>Rate</li>
                     <p><br></p>
                    <li>Titer</li>
                    <p><br></p>
                    <li>Yield:</li>
                    <p><br></p>
                    <li>Theoretical Yield:</li>
                    <p><br></p>
                    <li>Specific Rate:</li>
                    <p><br></p>
                    <li>Turnaround Time:</li>
                    <p><br></p>
                    <li>gCDW/L:</li>
                    <p><br></p>
                <div class = "output"></div>
        </div>
        <div class ="break"><br></div>

        <div class ="item">
                <h3>Downstream Purification Terms:  </h3>

                    <p><br></p>
                    <li>DSP- Downstream Purification: </li>
                     <p><br></p>
                    <li>DSR- Downstream Recovery: </li>
                    <p><br></p>

                <div class = "output"></div>
        </div>
        <div class ="break"><br></div>

<br>
</div>
<br>
<%- include('./partials/nav2.ejs') %>
</body>
</html>