<html lang="en">
<%- include('./partials/header.ejs') %>
<body>
<%- include('./partials/nav1_main.ejs') %>

        <div class = "logo">
        <a href="#">Main</a>
        </div>
        </div>
        <div class = "main_container">
        <div class="content">


    <br>
    <h2> Welcome to BioREACT Jrs!<br><br> </h2>
    <div class ="break"><br></div>
    <div class ="item">
    <p>Details Here</p>
    <p><br></p>
    </div>



    </div>

<br>
</div>
<br>
<%- include('./partials/nav2.ejs') %>
</body>
</html>