<html lang="en">
<%- include('./partials/header.ejs') %>
<body>
<%- include('./partials/nav1_main.ejs') %>

        <div class = "logo">
        <a href="#">Login</a>
        </div>
        </div>
        <div class = "main_container">
        <div class="content">


    <header><h2>&nbsp Login Using ...<br></h2>
    <div class ="break"><br></div>
    <div class ="break"><br></div>
    <a class="google-btn" href="/auth/google"><i class="fab fa-google-plus-g"></i>&nbsp Sign in with Google &nbsp</a>
    <div class ="break"><br></div>
    <div class ="break"><br></div>
    <div class ="break"><br></div>
    <div class ="break"><br></div>
    <div class ="break"><br></div>
    <h4> Currently we are only supporting login via Google +.</h4>
    <h4>If you would like to request a future login method </h4>
    <h4>please contact : <a href="mailto:michael.lynch@duke.edu"> michael.lynch@duke.edu </a>.</h4>
    </div>
    <div class ="break"><br></div>
    <div class ="break"><br></div>
    <div class ="break"><br></div>
    <div class ="break"><br></div>
    <div class ="break"><br></div>
    <div class ="break"><br></div>
    <div class ="break"><br></div>
    <div class ="break"><br></div>
    <div class ="break"><br></div>
    <div class ="break"><br></div>

<br>
</div>
<br>
<%- include('./partials/nav2.ejs') %>
</body>
</html>