<html lang="en">
<%- include('./partials/header.ejs') %>
<body>
<%- include('./partials/nav1_main.ejs') %>

        <div class = "logo">
        <a href="#">Main</a>
        </div>
        </div>
        <div class = "main_container">
        <div class="content">


    <header><h2>&nbsp Welcome to the Bioprocess TEA Calculator !<br></h2>
    <div class ="break"><br></div>

        <div class ="item">
                <p>Techno-economic analysis (TEA) connects R&D, engineering, and business. By linking process parameters
                to financial metrics, it allows businesses to understand the factors controlling the success of their
                technologies. TEA is useful throughout the technology development lifecycle. When considering new ideas,
                innovators can use TEA to assess economic feasibility and potential. At the bench scale, scientists can
                use it to identify the process parameters that have the greatest effect of profitability. During process
                development, engineers can use TEA to compare the financial impact of different process conditions and
                configurations. TEA incorporates information from all these stages of development, and provides a basis
                for making objective decisions. Furthermore, the time and cost needed for techno-economic analysis is
                small compared to that of running an R&D program. Despite its clear value, many startups and other
                businesses are slow to incorporate techno-economic analysis. We have developed this model to demonstrate
                the capabilities of early-stage techno-economic analysis of bioprocesses and to encourage companies
                to make it a priority in their development plans. </p>
                    <p><br></p>
                <div class = "iframe_container">
                    <iframe src="https://www.youtube.com/embed/R9gXHXvZJD4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class = "output"></div>
        </div>
        <div class ="break"><br></div>

        <div class ="item">
                <h3>How to Cite this calculator</h3>
                    <p>You are welcome to use our calculator, including screenshots if necessary, in your work.
                    However, please note the terms of our standard disclaimer (below) before doing so.</p>
                    <p><br></p>
                    <p> Lynch, M.D.,"The Bioprocess TEA Calculator: An online techno-economic analysis tool to evaluate the commercial competitiveness of potential bioprocesses" BioRxiv. 2020.</p> 
                    <p><a href="https://www.biorxiv.org/content/10.1101/2020.10.08.331272v1" target="popup">doi: https://doi.org/10.1101/2020.10.08.331272 </a></p>

         <div class = "output"></div>
        </div>
        <div class ="break"><br></div>
        <div class ="item">
                <h3>Calculator Use</h3>
                    <p><br></p>
                    <p>The Bioprocess TEA Calculator is freely available for all non-commercial users. If you would
                    like access to the application for commercial use, such as a dedicated calculator for internal
                    use, please contact Michael Lynch <a href="mailto:michael.lynch@duke.edu"> michael.lynch@duke.edu </a>.
                    </p>
                    <p><br></p>
         <div class = "output"></div>
        </div>
        <div class ="break"><br></div>

        <div class ="item">
                <h3>Acknowledgements</h3>
                    <p><br></p>
                    <p>We would like to acknowledge the suppoort that made this Calculator possible, including:</p>
                    <p><br></p>
                    <li>The National Science Foundation (NSF): EAGER: 1445726 </li>
                    <li> The Defense Advanced Research Projects Agency (DARPA): HR0011-14-C- 0075 </li>
                    <li>The Office of Naval Research: (ONR YIP #N00014-16-1-2558)</li>
                    <li>The U.S. Dep. of Energy, Office of Energy Efficiency and Renewable Energy: (DOE EERE grant #EE0007563)</li>
                    <li>Financial Support from DMC Biotechnologies, Inc.</li>
         <div class = "output"></div>
        </div>
        <div class ="break"><br></div>

        <div class ="item">
                <h3>Legal Disclaimer</h3>

                    <p><br></p>
                    <p>Analyses saved using the calculator may be used to improve analyses or perform meta-analyses. Additionally, the owners of this website, are not responsible for, and expressly disclaim all liability for,
                    damages of any kind arising out of use, reference to, or reliance on any information, including all results from all calculators, contained within this website. Please make sure that you understand that the information provided here, including the results of calculations, is being provided freely, and that no kind of agreement or
                    contract is created between you and the owners of this site, the owners of the servers upon which it is housed,
                    or anyone else who is in any way connected with this project. In short, the information within this website is presented
                    as is, and you use this site, including its technoeconomic calculators, at your own risk. While we make our best efforts
                    to ensure the accuracy of the calculations performed here, we cannot rule out the possibility of error, and we will not
                    be held liable in the unfortunate circumstance that such an error arises. By using this website, you accept the terms
                    and conditions of this disclaimer.<br>

                    </p>
        </div>
</div>

<%- include('./partials/nav2.ejs') %>
</body>
</html>