<html lang="en">
<%- include('./partials/header.ejs') %>
<body>
<%- include('./partials/nav1_main.ejs') %>

        <div class = "logo">
        <a href="#">Main</a>
        </div>
        </div>
        <div class = "main_container">
        <div class="content">


    <header><h2>&nbsp Welcome to the Bioprocess TEA Calculator !<br></h2>
    <div class ="break"><br></div>

        <div class ="item">
                <h3>Overview</h3>
                    <p><br></p>
                <div class = "output"></div>
        </div>
        <div class ="break"><br></div>

        <div class ="item">
                <h3>How to Cite this calculator</h3>
                    <p>You are welcome to use our calculator, including screenshots if necessary, in your work.
                    However, please note the terms of our standard disclaimer (below) before doing so.</p>
                    <p><br></p>
                    <p>APA style:</p>
                    <p>The format is: Name of Calculator. (Year, Month Day). Retrieved from [URL].</p>
                    <p>For example:</p>
                    <p>Bioprocess TEA Calculator.(2020, September 30). Retrieved from http://bioprocess-tea-calculator.herokuapp.com/main.</p>

         <div class = "output"></div>
        </div>
        <div class ="break"><br></div>


        <div class ="item">
                <h3>Acknowledgements</h3>
                    <p><br></p>
                    <p>We would like to acknowledge the suppoort that made this Calculator possible, including:</p>
                    <p><br></p>
                    <li>The Office of Naval Research: (ONR YIP #N00014-16-1-2558)</li>
                    <li>The U.S. Dep. of Energy, Office of Energy Efficiency and Renewable Energy: (DOE EERE grant #EE0007563)</li>
                    <li>Support from DMC Biotechnologies, Inc. </li>
         <div class = "output"></div>
        </div>
        <div class ="break"><br></div>

        <div class ="item">
                <h3>Legal Disclaimer</h3>

                    <p><br></p>
                    <p>The owners of this website, are not responsible for, and expressly disclaim all liability for,
                    damages of any kind arising out of use, reference to, or reliance on any information, including all results from all calculators, contained within this website. Please make sure that you understand that the information provided here, including the results of calculations, is being provided freely, and that no kind of agreement or
                    contract is created between you and the owners of this site, the owners of the servers upon which it is housed,
                    or anyone else who is in any way connected with this project. In short, the information within this website is presented
                    as is, and you use this site, including its technoeconomic calculators, at your own risk. While we make our best efforts
                    to ensure the accuracy of the calculations performed here, we cannot rule out the possibility of error, and we will not
                    be held liable in the unfortunate circumstance that such an error arises. By using this website, you accept the terms
                    and conditions of this disclaimer.</p>
        </div>
</div>

<%- include('./partials/nav2.ejs') %>
</body>
</html>