<html lang="en">
<%- include('./partials/header.ejs') %>
<body>
<%- include('./partials/nav1_main.ejs') %>

        <div class = "logo">
        <a href="#">Main</a>
        </div>
        </div>
        <div class = "main_container">
        <div class="content">


    <header><h2>&nbsp Welcome to the Bioprocess TEA Calculator !<br></h2>
    <div class ="break"><br></div>

        <div class ="item">
                <h3>Overview</h3>
                    <p><br></p>
                <div class = "output"></div>
        </div>
        <div class ="break"><br></div>


        <div class ="item">
                <h3>Acknowledgements</h3>
                    <p><br></p>
                    <p>We would like to acknowledge the suppoort that made this Calculator possible, including:</p>
                    <p><br></p>
                    <li>The Office of Naval Research: (ONR YIP #N00014-16-1-2558)</li>
                    <li>The U.S. Dep. of Energy, Office of Energy Efficiency and Renewable Energy: (DOE EERE grant #EE0007563)</li>
                    <li>Support from DMC Biotechnologies, Inc. </li>
         <div class = "output"></div>
        </div>
        <div class ="break"><br></div>

<br>
</div>
<br>
<%- include('./partials/nav2.ejs') %>
</body>
</html>