<html lang="en">
<%- include('./partials/header.ejs') %>
<body>
<%- include('./partials/nav1_user.ejs') %>

        <div class = "logo">
        <a href="#">Profile</a>
        </div>
        </div>
        <div class = "main_container">
        <div class="content">

    <header><h2>&nbsp Welcome, DMC_user! <br></h2>
    <div class ="break"><br></div>
    <div>
    </div>
    <div class ="break"><br></div>
    <div class ="item">
    <h3> Username : DMC_user
    <h3> Email : n/a
    </div>


<br>
</div>
<br>
<%- include('./partials/nav2.ejs') %>
</body>
</html>