<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<head>
  <meta charset="utf-9">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
  <meta name="description" content="">
  <meta name="author" content="">

<style>
  .slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 5px;
  background: #FFFFFF;
  outline: none;
  opacity: 0.85;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
.slider:hover {
  opacity: 1;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #FFFFFF;
  cursor: pointer;
}
.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #FFFFFF;
  cursor: pointer;
}
</style>

  <title>Bioprocess TEA Calculator</title>

  <!-- Custom fonts for this template-->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <!-- Custom styles for this template-->
  <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">

</head>

<body id="page-top">
  <!-- Page Wrapper -->
  <div id="wrapper">
    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-fw fa-cog"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Bioprocess TEA</div>
      </a>
      <!-- Divider -->
      <hr class="sidebar-divider my-0">
      <!-- Nav Item - Main  -->
      <li class="nav-item">
        <a class="nav-link" href="charts.html">
          <i class="fas fa-fw fa-home"></i>
          <span>Main</span></a>
      </li>
      <!-- Nav Item - Tutorials -->
      <li class="nav-item">
        <a class="nav-link" href="tables.html">
          <i class="fas fa-fw fa-chalkboard"></i>
          <span>Tutorials</span></a>
      </li>
      <!-- Nav Item - Blog-->
      <li class="nav-item">
        <a class="nav-link" href="tables.html">
          <i class="fas fa-fw fa-blog"></i>
          <span>Blog</span></a>
      </li>


           <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Nav Item - Blog-->
      <li class="nav-item">
        <a class="nav-link" href="tables.html">
          <i class="fas fa-fw fa-calculator"></i>
          <span>CMO Calculator</span></a>
      </li>


      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link" href="index.html">
          <i class="fas fa-fw fa-calculator"></i>
          <span>BOO Calculator</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Model Inputs
      </div>


<!-- Chemical Inputs-->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseZero" aria-expanded="true" aria-controls="collapseZero">
          <i class="fas fa-fw fa-wrench"></i>
          <span>Chemical Inputs</span>
        </a>
        <div id="collapseZero" class="collapse" aria-labelledby="headingZero data-parent="#accordionSidebar">
          <div class="bg-blue py-2 collapse-inner rounded">

            <form action="/action_page.php">
              <label form="Name" style="color:white">Name: </label>
              <input type="text"  id="chemicalName" name="Name" maxlength="20" size="20" placeholder="1,3 Propanediol">
              <br><br>
              <label form="C" style="color:white">C: </label>
              <input id="C" type="number"  min="2" value="3"/>
              <br><br>
              <label form="H" style="color:white">H: </label>
              <input id="H" type="number"  min="0" value="8"/>
              <br><br>
              <label form="O" style="color:white">O: </label>
              <input id="O" type="number"  min="0" value="2"/>
              <br><br>
              <label form="N" style="color:white">N: </label>
              <input id="N" type="number"  min="0" value="0"/>
              <br><br>

            </form>
          </div>

        </div>
      </li>


    <!-- Fermentation Inputs -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <i class="fas fa-fw fa-wrench"></i>
          <span>Fermentation Inputs </span>
        </a>
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne data-parent="#accordionSidebar">
          <div class="bg-blue py-2 collapse-inner rounded">
            <div class="d-flex flex-column">
            <div class="d-flex justify-content-center my-10 style="height:50px">
              <div class="slidecontainer">
                 <input type="range" min="0.25" max="10" value="2.5" step="0.25" class="slider" id="myRange0">
                  <p style="color:white"> Average Volumetric Rate: <span id="demo0"> </span> g/L-hr</p>
              </div>
            </div>
            <div class="d-flex justify-content-center my-10">
               <div class="slidecontainer">
                  <input type="range" min="1" max="300" value="300" class="slider" id="myRange1">
                <p style="color:white">Titer: <span id="demo1"> </span> g/L</p>
              </div>
            </div>
            <div class="d-flex justify-content-center my-10">
               <div class="slidecontainer">
                  <input type="range" min="1" max="98" value="90" class="slider" id="myRange2">
                <p style="color:white">Yield: <span id="demo2"> </span> % of Theoretical</p>
              </div>
            </div>
            <div class="d-flex justify-content-center my-10">
               <div class="slidecontainer">
                  <input type="range" min="1" max=40 value="20" class="slider" id="myRange3">
                <p style="color:white">Turnaround Time: <span id="demo3"> </span> hours</p>
              </div>
            </div>
            <div class="d-flex justify-content-center my-10">
               <div class="slidecontainer">
                  <input type="range" min="1" max="10" value="4" class="slider" id="myRange4">
                <p style="color:white">Media: $ <span id="demo4"> </span> /1000 L</p>
              </div>
            </div>
            <div class="d-flex justify-content-center my-10">
               <div class="slidecontainer">
                  <input type="range" min="25" max=45 value="37" class="slider" id="myRange5">
                <p style="color:white">Temperature: <span id="demo5"> </span> Celsius</p>
              </div>
            </div>
          </div>
        </div>
      </li>


  <!-- Financial Inputs-->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          <i class="fas fa-fw fa-wrench"></i>
          <span>Financial Inputs</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo data-parent="#accordionSidebar">
          <div class="bg-blue py-2 collapse-inner rounded">
            <div class="d-flex flex-column">
            <div class="d-flex justify-content-center my-10 style="height:50px">
              <div class="slidecontainer">
                 <input type="range" min="0" max="200" value="30" class="slider" id="myRange6">
                  <p style="color:white"> Margin: <span id="demo6"> </span> %</p>
              </div>
            </div>
            <div class="d-flex justify-content-center my-10">
               <div class="slidecontainer">
                  <input type="range" min="1" max="22" value="22" class="slider" id="myRange7">
                <p style="color:white">Payback Period: <span id="demo7"> </span> Years</p>
              </div>
            </div>
            <div class="d-flex justify-content-center my-10">
               <div class="slidecontainer">
                  <input type="range" min="0" max="50" value="15" class="slider" id="myRange8">
                <p style="color:white">Discount Rate: <span id="demo8"> </span> %</p>
              </div>
            </div>
            <div class="d-flex justify-content-center my-10">
               <div class="slidecontainer">
                  <input type="range" min="0" max="50" value="35" step="1" class="slider" id="myRange9">
                <p style="color:white">Tax Rate: <span id="demo9"> </span> %</p>
              </div>
            </div>
            <div class="d-flex justify-content-center my-10">
               <div class="slidecontainer">
                  <input type="range" min="0" max="100" value="60" step="1" class="slider" id="myRange10">
                <p style="color:white">Percent Debt Financed <span id="demo10"> </span> %</p>
              </div>
            </div>
            <div class="d-flex justify-content-center my-10">
               <div class="slidecontainer">
                  <input type="range" min="0" max="20" value="8" step="1" class="slider" id="myRange11">
                <p style="color:white">Debt Interest Rate: <span id="demo11"> </span> %</p>
              </div>
            </div>
            <div class="d-flex justify-content-center my-10">
               <div class="slidecontainer">
                  <input type="range" min="0" max="22" value="15" step="1" class="slider" id="myRange12">
                <p style="color:white">Loan Term: <span id="demo12"> </span> Years</p>
              </div>
            </div>
              </div>
          </div>
        </div>
      </li>


  <!-- Plant Level Inputs-->
  <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
          <i class="fas fa-fw fa-wrench"></i>
          <span>Plant Level Inputs</span>
                </a>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree data-parent="#accordionSidebar">
          <div class="bg-blue py-2 collapse-inner rounded">
            <div class="d-flex flex-column">
            <div class="d-flex justify-content-center my-10 style="height:50px">
              <div class="slidecontainer">
                 <input type="range" min="1" max="50" value="15" step="1" class="slider" id="myRange13">
                  <p style="color:white"> Capacity <span id="demo13"> </span> kta</p>
              </div>
            </div>
            <div class="d-flex justify-content-center my-10">
               <div class="slidecontainer">
                  <input type="range" min="1" max="100" value="97" step="1" class="slider" id="myRange14">
                <p style="color:white">Overall DSP Yield: <span id="demo14"> </span> %</p>
              </div>
            </div>
            <div class="d-flex justify-content-center my-10">
               <div class="slidecontainer">
                  <input type="range" min="0" max="100" value="90" step="1" class="slider" id="myRange15">
                <p style="color:white">Annual Uptime: <span id="demo15"> </span> %</p>
              </div>
            </div>
            <div class="d-flex justify-content-center my-10">
               <div class="slidecontainer">
                  <input type="range" min="0" max="100" value="95" step="1" class="slider" id="myRange16">
                <p style="color:white">Batches "On Spec": <span id="demo16"> </span> %</p>
              </div>
            </div>
              </div>
          </div>
        </div>
      </li>


    <!-- Raw Materials-->
  <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
          <i class="fas fa-fw fa-wrench"></i>
          <span>Raw Materials</span>
        </a>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour data-parent="#accordionSidebar">
          <div class="bg-blue py-2 collapse-inner rounded">
            <div class="d-flex flex-column">
            <div class="d-flex justify-content-center my-10 style="height:50px">
              <div class="slidecontainer">
                 <input type="range" min="0" max="0.5" value="0.18" step="0.01" class="slider" id="myRange17">
                  <p style="color:white"> Glucose: $ <span id="demo17"> </span> /lb</p>
              </div>
            </div>
            <div class="d-flex justify-content-center my-10">
               <div class="slidecontainer">
                  <input type="range" min="0" max="0.40" value="0.20" step="0.01" class="slider" id="myRange18">
                <p style="color:white">Ammonia: $ <span id="demo18"> </span> /lb</p>
              </div>
            </div>
            <div class="d-flex justify-content-center my-10">
               <div class="slidecontainer">
                  <input type="range" min="10" max="200" value="94" class="slider" id="myRange19">
                <p style="color:white">Sulfuric Acid: $ <span id="demo19"> </span> /ton</p>
              </div>
            </div>
            <div class="d-flex justify-content-center my-10">
               <div class="slidecontainer">
                  <input type="range" min="0" max="10" value="3.10" step ="0.1" class="slider" id="myRange20">
                <p style="color:white">Natural Gas: $ <span id="demo20"> </span> /MMBtu</p>
              </div>
            </div>
            <div class="d-flex justify-content-center my-10">
               <div class="slidecontainer">
                  <input type="range" min="0" max="0.30" value="0.11" step ="0.01" class="slider" id="myRange21">
                <p style="color:white">Electricity: $ <span id="demo21"> </span> /KWh</p>
              </div>
            </div>
             <div class="d-flex justify-content-center my-10">
               <div class="slidecontainer">
                  <input type="range" min="1" max="1200" value="603" step ="1" class="slider" id="myRange22">
               <p style="color:white">CEPCI: <span id="demo22"> </span> </p>
              </div>
            </div>
              </div>
          </div>
        </div>
      </li>


 <!-- DSP Inputs -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
          <i class="fas fa-fw fa-wrench"></i>
          <span>DSP Inputs </span>
        </a>
        <div id="collapseFive" class="collapse" aria-labelledby="headingOne data-parent="#accordionSidebar">
          <div class="bg-blue py-2 collapse-inner rounded">
            <div class="d-flex flex-column">
            <div class="d-flex justify-content-center my-10 style="height:50px">
              <div class="slidecontainer">
                 <input type="range" min="0" max="100" value="25" class="slider" id="myRange23">
                  <p style="color:white"><span id="demo23"> </span> % of Total OPEX</p>
              </div>
            </div>
            <div class="d-flex justify-content-center my-10">
               <div class="slidecontainer">
                  <input type="range" min="0" max="100" value="50" class="slider" id="myRange24">
                <p style="color:white"><span id="demo24"> </span> % of Total CAPEX</p>
              </div>
            </div>

            <form>
               <label style="color:white">Chemical Class</label>
              <br><br>
              <label form="Class" style="color:white">Soluble Polyol: </label>
              <input id="Polyol" type="radio" name="chemicalClass" />
              <br><br>
              <label form="Class" style="color:white">Soluble Amino Acid: </label>
              <input id="Amino Acid" type="radio" name="chemicalClass" />
              <br><br>
              <label form="Class" style="color:white">Soluble Organic Acid: </label>
              <input id="Organic Acid" type="radio" name="chemicalClass" />
              <br><br>
              <label form="Class" style="color:white">Volatile (Distillation): </label>
              <input id="Alcohol" type="radio" name="chemicalClass" />
              <br><br>
              <label form="Class" style="color:white">Hydrophobic (Extraction): </label>
              <input id="Other" type="radio" name="chemicalClass" />
              <br><br>
              <label form="Class" style="color:white">Other: </label>
              <input id="Other" type="radio" name="chemicalClass" />
              <br><br>orm>

            </form>
          </div>
        </div>
      </li>


      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">


            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Michael Lynch</span>
                <img class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60">
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Account
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                </a>
              </div>
            </li>

          </ul>

        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Results Section  -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h4 class="h4 mb-0 text-gray-800"> Results for : </h4>
          </div>

          <hr class="sidebar-divider">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h4 class="h4 mb-0 text-gray-800"><span id="chemicalName1">1,3 Propanediol</span></h4>
            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i>Generate Report</a>
          </div>


          <!-- Divider -->
<hr class="sidebar-divider">

<div class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseMainZero" aria-expanded="true" aria-controls="collapseMainZero">
         <h1 class="h5 mb-0 text-gray-800">Chemistry</h1>
        </a>
        <div id="collapseMainZero" class="collapse" aria-labelledby="headingMainZero data-parent="#accordionMain">
          <div class="bg-blue py-2 collapse-inner rounded">

    <!-- Content Row 1 -->
          <div class="row">

            <!-- Formula -->
            <div class="col-xl-3 col-md-3 mb-3">
              <div class="card border-left-primary">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Molecular Formula</div>
                      <div class="text-s font-weight-bold text-gray-800">C<sub><span id="Cnumber">3</span></sub>H<sub><span id="Hnumber">8</span></sub>O<sub>2<span id="Onumber"></span></sub>N<sub><span id="Nnumber">0</span></sub></div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-chemical fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
      <!-- MW  -->
            <div class="col-xl-3 col-md-3 mb-3">
              <div class="card border-left-primary">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">MW (g/mole)</div>
                      <div class="text-s font-weight-bold text-gray-800"><span id="MW">76.09</span> g/mole</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-chemical fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Theoretical Yield-->
            <div class="col-xl-3 col-md-3 mb-3">
              <div class="card border-left-primary">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Theor. Yield (g/g)</div>
                      <div class="text-s font-weight-bold text-gray-800"><span id="theorYield">0.634</span> g/g</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-chemical fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

<!-- Content Row -->
          <div class="row">
          <!-- Equation -->
            <div class="col-xl-9 col-md-9 mb-9">
              <div class="card border-left-primary shadow">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Conversion Equation</div>
                      <div class="text-s font-weight-bold text-gray-800"><span id="glucoseCoeff">2</span> C<sub>6</sub>H<sub>12</sub>O<sub>6</sub> + <span id="ammoniaCoeff">0</span> NH<sub>3</sub> + <span id="oxygenCoeff">0</span> O<sub>2</sub> &#8594 <span id="productCoeff">3</span> C<sub><span id="Cnumber2">3</sub>H<sub><span id="Hnumber2">8</sub>O<sub><span id="Onumber2">2</sub>N<sub><span id="Nnumber2">0</sub> + <span id="co2Coeff">3</span> CO<sub>2</sub> + <span id="h2oCoeff">0</span> H<sub>2</sub>O</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-chemical fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

      </div>
</div>
</div>
        <!-- Divider -->
<hr class="sidebar-divider">


<div class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseMainOne" aria-expanded="true" aria-controls="collapseMainOne">
         <h1 class="h5 mb-0 text-gray-800">Fermentation Results</h1>
        </a>
        <div id="collapseMainOne" class="collapse" aria-labelledby="headingMainOne data-parent="#accordionMain">
          <div class="bg-blue py-2 collapse-inner rounded">

          <!-- Content Row 1 -->
          <div class="row">

            <!-- Rate  -->
            <div class="col-xl-3 col-md-3 mb-3">
              <div class="card border-left-primary">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Rate (g/L-hr)</div>
                      <div class="text-s font-weight-bold text-gray-800"><span id="Rate">3.0</span></div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-factory fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <!-- Titer-->
            <div class="col-xl-3 col-md-3 mb-3">
              <div class="card border-left-primary">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Titer(g/L)</div>
                      <div class="text-s font-weight-bold text-gray-800"><span id="Titer">300</span></div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-factory  fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <!-- Overall Yield-->
            <div class="col-xl-3 col-md-3 mb-3">
              <div class="card border-left-primary">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Overall Yield (g/g)</div>
                      <div class="text-s0 font-weight-bold text-gray-800"><span id="overallYield">0.57</span></div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-factory  fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <!-- Content Row 2 -->
          <div class="row">

            <!-- Biomass Level   -->
            <div class="col-xl-3 col-md-3 mb-3">
              <div class="card border-left-success">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Biomass (gCDW/L)</div>
                      <div class="text-s font-weight-bold text-gray-800"><span id="finalBiomass">0.57</span></div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-factory  fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Sp. Rate  -->
            <div class="col-xl-3 col-md-3 mb-3">
              <div class="card border-left-success">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Sp. Rate (g/gCDW-hr)</div>
                      <div class="text-s font-weight-bold text-gray-800"><span id="specificRate">0.55</span></div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-factory  fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Time  -->
            <div class="col-xl-3 col-md-3 mb-3">
              <div class="card border-left-success">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Time (hrs)</div>
                      <div class="text-s font-weight-bold text-gray-800"><span id="fermTime">120</span></div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-factory  fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


<!-- Content Row  -->
<div class="row">

<!-- Fermentation Chart-->
             <div class="col-xl-9 col-md-9 mb-9">
              <div class="card shadow mb-8">
                <!-- Card Header-->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Fermentation Timecourse</h6>
                </div>
                  <div>
                      <br></br>
                  </div>
                <!-- Card Body -->
                  <div class="container">
                    <canvas id="myFermChart"></canvas>
                  </div>
                <br></br>
              </div>
            </div>
          </div>


          </div>
</div>
        <!-- Divider -->
<hr class="sidebar-divider">

 <div class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseMainTwo" aria-expanded="true" aria-controls="collapseMainTwo">
         <span class="h5 mb-0 text-gray-800">Process Overview</span>
        </a>
        <div id="collapseMainTwo" class="collapse" aria-labelledby="headingMainTwo data-parent="#accordionMain">

    <!-- Content Row 1 -->
          <div class="row">

          <div class="col-xl-9 col-md-9 mb-9">
              <div class="card shadow mb-8">
                <!-- Card Header-->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Process Flow Diagram</h6>
                </div>
                <!-- Card Body -->
                  <div class="container">
                      <img src="{% static 'img/pfd_test.svg' %}", id="pdf">
                   <br></br>                  </div>
              </div>
            </div>
          </div>


      </div>
        <!-- Divider -->
<hr class="sidebar-divider">

<div class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseMainThree" aria-expanded="true" aria-controls="collapseMainThree">
         <h1 class="h5 mb-0 text-gray-800">Process Results</h1>
        </a>
        <div id="collapseMainThree" class="collapse" aria-labelledby="headingMainThree data-parent="#accordionMain">
          <div class="bg-blue py-2 collapse-inner rounded">

          <!-- Content Row  -->
          <div class="row">


<!-- OPEX Pie Chart-->
             <div class="col-xl-5 col-md-5 mb-5">
              <div class="card shadow mb-8">
                <!-- Card Header-->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">OPEX Breakdown,  Total: $ <span id="OPEX1">1.49</span>/kg</h6>
                </div>
                <!-- Card Body -->
                  <div class="container">
                    <canvas id="myOpexPieChart"></canvas>
                  </div>
              </div>
            </div>



<!-- OPEX Sensitivities-->

             <div class="col-xl-5 col-md-5 mb-5">
              <div class="card shadow mb-8">
                <!-- Card Header-->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">OPEX Sensitivities</h6>
                </div>
                <!-- Card Body -->
                  <div class="container">
                    <canvas id="myOpexTornadoChart"></canvas>
                  </div>
              </div>
            </div>
        </div>

            <!-- Content Row  -->
          <div class="row">

<!-- CAPEX Pie Chart -->
             <div class="col-xl-5 col-md-5 mb-5">
              <div class="card shadow mb-8">
                <!-- Card Header-->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">CAPEX Breakdown, Total: $ <span id="CAPEX1">1.30</span>/kg</h6>
                </div>
                <!-- Card Body -->
                  <div class="container">
                    <canvas id="myCapexPieChart"></canvas>
              </div>
              </div>
             </div>


<!-- Capex Sensitivies-->
             <div class="col-xl-5 col-md-5 mb-5">
              <div class="card shadow mb-8">
                <!-- Card Header-->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">CAPEX Sensitivities</h6>
                </div>
                <!-- Card Body -->
                  <div class="container">
                    <canvas id="myCapexTornadoChart"></canvas>
                  </div>
              </div>
            </div>
        </div>
      </div>
</div>


<!-- Divider -->
<hr class="sidebar-divider">
   <div class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseMainFour" aria-expanded="true" aria-controls="collapseMainFour">
         <h1 class="h5 mb-0 text-gray-800">Financial Results</h1>
        </a>
        <div id="collapseMainFour" class="collapse" aria-labelledby="headingMainFour data-parent="#accordionMain">
          <div class="bg-blue py-2 collapse-inner rounded">
         <!-- Content Row  -->
          <div class="row">

            <!-- Minimum Selling Price -->
            <div class="col-xl-3 col-md-3 mb-3">
              <div class="card border-left-primary">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">MSP (USD/kg)</div>
                      <div class="text-s font-weight-bold text-gray-800">$<span id="MSP">1.81</span></div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <!-- OPEX -->
            <div class="col-xl-3 col-md-3 mb-3">
              <div class="card border-left-primary">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">OPEX (USD/kg)</div>
                      <div class="text-s font-weight-bold text-gray-800">$<span id="OPEX2">1.49</span></div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <!-- CAPEX -->
            <div class="col-xl-3 col-md-3 mb-3">
              <div class="card border-left-primary">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">CAPEX (USD/kg-yr)</div>
                      <div class="text-s font-weight-bold text-gray-800">$<span id="CAPEX2">1.30</span></div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
 <!-- Content Row 2 -->
<div class="row">

            <!-- NPV  -->
            <div class="col-xl-3 col-md-3 mb-3">
              <div class="card border-left-success">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">NPV (USD)</div>
                      <div class="text-s font-weight-bold text-gray-800">$<span id="NPV">36.3</span> Million</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- IRR  -->
            <div class="col-xl-3 col-md-3 mb-3">
              <div class="card border-left-success">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">IRR (%)</div>
                      <div class="text-s font-weight-bold text-gray-800"><span id="IRR">72.3</span>%</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Total Capex  -->
            <div class="col-xl-3 col-md-3 mb-3">
              <div class="card border-left-success">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Total Capex (USD)</div>
                      <div class="text-s font-weight-bold text-gray-800">$<span id="totalCAPEX">65.2</span> Million</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
</div>

<!-- Content Row 3 -->
          <div class="row">

<!-- Pro Forma-->
             <div class="col-xl-9 col-md-9 mb-9">
              <div class="card shadow mb-8">
                <!-- Card Header-->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Pro Forma</h6>
                </div>
                  <div>
                      <br></br>
                  </div>
                <!-- Card Body -->
                  <div class="container">
                    <canvas id="myProFormaChart"></canvas>
                  </div>
              </div>
            </div>

        </div>

      </div>
   </div>


          <!-- Divider -->
<hr class="sidebar-divider">


<div>
   <br></br>
   <br></br>
   <br></br>
   <br></br>
   <br></br>
</div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Michael D. Lynch 2020</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!--Scripts-->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <link href="http://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'js/sb-admin-2.min.js' %}"></script>
  <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>
  <script src="{% static 'js/UpdateChemistry.js' %}"></script>
  <script src="{% static 'js/calculateLoanPayments.js' %}"></script>
  <script src="{% static 'js/FermentationTimeCourse.js' %}"></script>
  <script src="{% static 'js/FermentationChart.js' %}"></script>
  <script src="{% static 'js/fermUpdater.js' %}"></script>
  <script src="{% static 'js/ProFormaChart.js' %}"></script>
  <script src="{% static 'js/proFormaChartUpdater.js' %}"></script>
  <script src="{% static 'js/OpexPieChart.js' %}"></script>
  <script src="{% static 'js/OpexPieChartUpdater.js' %}"></script>
  <script src="{% static 'js/OpexTornadoChart.js' %}"></script>
  <script src="{% static 'js/OpexTornadoChartUpdater.js' %}"></script>
  <script src="{% static 'js/CapexPieChart.js' %}"></script>
  <script src="{% static 'js/CapexPieChartUpdater.js' %}"></script>
  <script src="{% static 'js/CapexTornadoChart.js' %}"></script>
  <script src="{% static 'js/CapexTornadoChartUpdater.js' %}"></script>
  <!-- Dynamic Scripts for Process Inputs-->

  <script>
//Initial Inputs and Outputs for 1,3 PDO
  Input = [3,300,90,30,22,15,35,60,8,15,15,97,90,95,0.18,0.20,94,3.1,0.11,603,20,4,37,25,50];
  Output = [30,22,15,35,60,8,15,15,97,90,95,0.18,0.20,94,3.1,0.11,603,3.5,300,90,20,4,37,25,50];
  fermUpdater(Input,Output);

</script>
<script>
//Initial Inputs and Outputs for 1,3 PDO
  OpexPieChartUpdater();

</script>
<script>
//Initial Inputs and Outputs for 1,3 PDO
  OpexTornadoChartUpdater();

</script>
<script>
//Initial Inputs and Outputs for 1,3 PDO
  CapexPieChartUpdater();

</script>
<script>
//Initial Inputs and Outputs for 1,3 PDO
  CapexTornadoChartUpdater();

</script>
<script>
//Initial Inputs and Outputs for 1,3 PDO
    proFormaChartUpdater();

</script>


<script>
  slider = [];
  pageInput =[];
  Input = [3,300,90,30,22,15,35,60,8,15,15,97,90,95,0.18,0.20,94,3.1,0.11,603,20,4,37,25,50];
  Output = [30,22,15,35,60,8,15,15,97,90,95,0.18,0.20,94,3.1,0.11,603,3.5,300,90,20,4,37,25,50];
  LowInput =[];
  HighInput=[];
  for(let i=0; i< 25; i++){
    slider[i] = document.getElementById("myRange"+i);
    pageInput[i] = document.getElementById("demo"+i);
    pageInput[i].innerHTML = slider[i].value;
    slider[i].oninput = function() {
      pageInput[i].innerHTML = this.value;
      Input[i]= Number(pageInput[i].innerHTML);
       // for (let j=0;j<25;j++){
        //  LowInput[j]=Input[j]*0.5;
        //  HighInput[j]=Input[j]*1.5;
       //  }
      //Output=BioprocessTEA(Input);
      fermUpdater(Input,Output);
      OpexPieChartUpdater();
      OpexTornadoChartUpdater();
      CapexPieChartUpdater();
      CapexTornadoChartUpdater();
      proFormaChartUpdater();

     }
  }
</script>

<script>
UpdateChemistry();
</script>



</body>

</html>
