<html lang="en">
<%- include('./partials/header.ejs') %>
<body>
<%- include('./partials/nav1_user.ejs') %>

        <div class = "logo">
        <a href="#">Previous Analyses</a>
        </div>
        </div>
        <div class = "main_container">
        <div class="content">


    <header><h2>&nbsp TEA History <br></h2>
    <div class ="break"><br></div>
    <div class ="item">

    <p>Details Here</p>
    <p><br></p>
    </div>
    </div>

<br>
</div>
<br>
<%- include('./partials/nav2.ejs') %>
</body>
</html>

