<html lang="en">
<%- include('./partials/header.ejs') %>
<body>
<%- include('./partials/nav1_main.ejs') %>

        <div class = "logo">
        <a href="#">Tutorials</a>
        </div>
        </div>
        <div class = "main_container">
        <div class="content">


    <header><h2>&nbsp Calculator Overview <br></h2>
    <div class ="break"><br></div>
        <div class ="item">
                <h3>TEA Overview Video HeRE</h3>
                    <p><br></p>
                <div class = "output"></div>
        </div>
     <div class ="break"><br></div>


   <h2>&nbsp Use Cases and Limitations <br></h2>
    <div class ="break"><br></div>

        <div class ="item">
                <h3>Use Cases  </h3>

                    <p><br></p>
                    <li>New Construction : This calculator should be used for projects requiring the construction of new dedicated plants for the production
                    of chemicals using bioprocesses. Estimates of captial costs  for new plant construction are based on brownfield assumptions. (See below).
                    With this calculator, the minimum annual production capacity considered for a new facility is 1kta ( 1 kilotonne per annum/year) or alternative 1,000,000 kg of
                    a chemical product per year. Processes resulting in annual production volumes lower than this should not use these estimates. Additionally,
                    for products at the low end of these production volumes, contract manufacturing (leveraging existing facilities, rather than building
                    a new plant) may be commerically viable. The current version of this calculator assumes new construction. </li>

                     <p><br></p>
                    <li>Production Volumes: As mentioned this calculator should be used for processes producing anywhre from 1 to 100kta of a chemical.
                    This equates to 1,000,000 to 100,000,000 kg per year.  The use should assess whether the volumes considered by this calculator are
                    meaningful in light of the market size for a given product. For example, if the current worldwide annual production is lower than 11kta
                    , this calculator is likely not appropriate.  </li>


                    <p><br></p>
                    <li><a href="https://www.planacademy.com/greenfield-brownfield-engineering-definition/#:~:text=While%20greenfield%20is%20an%20undeveloped,developed%20and%20might%20be%20contaminated." target="popup">Brownfield Site Development:</a>
                     It is important to note that the current capital cost estimates are for Brownfield site develop. This assumes that the plant is
                     added to a site with current industrial development. Costs of real estate, as well as the costs to install equipment to generate
                     utilites or waste water treatement are not included in these capital estimates.</li>

                    <p><br></p>
                    <li> Other </li>


                <div class = "output"></div>
        </div>
        <div class ="break"><br></div>

        <div class ="item">
                <h3>Current Limitations </h3>
                    <p><br></p>
                    <li>Downstream Purification </li>
                    <li>Sugar Sources </li>
                    <li>Product Types </li>
                    <li>Product Acidity </li>
                <div class = "output"></div>
        </div>
        <div class ="break"><br></div>



    <h2>&nbsp Watch a Video ! <br></h2>
    <div class ="break"><br></div>

        <div class ="item">
                <h3>The Importance of Technoeconomic Analysis  </h3>
                    <p><br></p>
                <div class = "output"></div>
        </div>
        <div class ="break"><br></div>

        <div class ="item">
                <h3>Proforma and Discounted Cash Flow Analysis</h3>
                    <p><br></p>
                <div class = "output"></div>
        </div>
        <div class ="break"><br></div>

         <div class ="item">
                <h3>Calculator: Financial Inputs</h3>
                    <p><br></p>
                <div class = "output"></div>
        </div>
        <div class ="break"><br></div>

         <div class ="item">
                <h3>Caclulator: Chemical Inputs</h3>
                    <p><br></p>
                <div class = "output"></div>
        </div>
        <div class ="break"><br></div>

        <div class ="item">
                <h3>Caclulator: Plant Level Inputs</h3>
                    <p><br></p>
                <div class = "output"></div>
        </div>
        <div class ="break"><br></div>

        <div class ="item">
                <h3>Fermentation 1</h3>
                    <p><br></p>
                <div class = "output"></div>
        </div>
        <div class ="break"><br></div>

         <div class ="item">
                <h3>Fermentation 2</h3>
                    <p><br></p>
                <div class = "output"></div>
        </div>
        <div class ="break"><br></div>

         <div class ="item">
                <h3>Fermentation 3</h3>
                    <p><br></p>
                <div class = "output"></div>
        </div>
        <div class ="break"><br></div>

         <div class ="item">
                <h3>DSP </h3>
                    <p><br></p>
                <div class = "output"></div>
        </div>
        <div class ="break"><br></div>



<br>
</div>
<br>
<%- include('./partials/nav2.ejs') %>
</body>
</html>