<html lang="en">
<%- include('./partials/header.ejs') %>
<body>
<%- include('./partials/nav1_main.ejs') %>

        <div class = "logo">
        <a href="#">Tutorials</a>
        </div>
        </div>
        <div class = "main_container">
        <div class="content">

    <header><h2>&nbsp Watch a Video ! <br></h2>
    <div class ="break"><br></div>

        <div class ="item">
                <h3>TEA Overview </h3>
                    <p><br></p>
                <div class = "output"></div>
        </div>
        <div class ="break"><br></div>

        <div class ="item">
                <h3>Proforma and Cash Flow Anlaysis</h3>
                    <p><br></p>
                <div class = "output"></div>
        </div>
        <div class ="break"><br></div>

         <div class ="item">
                <h3>Caclulator: Chemical Inputs</h3>
                    <p><br></p>
                <div class = "output"></div>
        </div>
        <div class ="break"><br></div>

        <div class ="item">
                <h3>Caclulator: Plant Level Inputs</h3>
                    <p><br></p>
                <div class = "output"></div>
        </div>
        <div class ="break"><br></div>

        <div class ="item">
                <h3>Fermentation 1</h3>
                    <p><br></p>
                <div class = "output"></div>
        </div>
        <div class ="break"><br></div>

         <div class ="item">
                <h3>Fermentation 2</h3>
                    <p><br></p>
                <div class = "output"></div>
        </div>
        <div class ="break"><br></div>

         <div class ="item">
                <h3>Fermentation 3</h3>
                    <p><br></p>
                <div class = "output"></div>
        </div>
        <div class ="break"><br></div>

         <div class ="item">
                <h3>DSP </h3>
                    <p><br></p>
                <div class = "output"></div>
        </div>
        <div class ="break"><br></div>



<br>
</div>
<br>
<%- include('./partials/nav2.ejs') %>
</body>
</html>